<%= render "shared/header" %>
<div class='main'>

<div class='media-contents'>

<ul class='media-lists'>
<h1>aaaaa</h1>
<%# @medias.each do |media|  %>
<%# link_to item_path(item.id) do %>
        <//div class='item-img-content'>
          <%#= image_tag item.image, class: "item-img" %>
        <//div class='item-info'>
          <//h3 class='item-name'>
            <%#= media.title %>
          <///h3>
   <%# end %>
<%# end %>